//global settings

.responsive-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

//supporters pages fix for content wrapper
// have no idea how this will affetc pther pages
//artist-supporters.html was targeted 1st
// .content-wrapper {
//   @media only screen and (min-width: 1000px) and (max-width: 1600px) {
//     max-width: 800px;
//     margin: 0 auto;
//     min-width: 800px;
//   }
// }
