///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Colors
//    Global default settings
//	  for colors
//-------------------------


$black: #000;
$white: #fff;
$background: #222222;
$nero: #292929;
$eron: #171717;
$ron: #252525;
$zambezi: #5A5A5A;
$ambezi: #5F5F5F;
$nightrider: #2F2F2F;
$noonrider: #323232;
$silver:#c6c6c6;
$keppel:#5ca395;
$spring: #24FF94;
$eclipse: #3F3F3F;
$russian:#212332;
$night: #2D2D2D;
$charcoal: #434343;
$grey: #767676;
$greyt: #818181;
$slate: #748092;
$dim: #676767;
$sea: #34B2A5;
$shamrock: #39CB9F;
$hamrock: #38df94;
$amrock: #32ca98;
$hit: #ACADAD;
$matterhorn: #505050;
$gainsboro: #E4E1E1;
$mandy: #E94D51;
$flamingo: #EA5F4D;
$amaranth: #F04246;
$lightg: #D0CFCF;
$lighterg: #d2d2d2;
$whiteish: #fefefe;
$darkgray: #A6A5A5;
$nobel:#a2a2a2;
$yellow:#fbb76e;
