//trumps, hacks, overwrites
/* Autocomplete search scrollbar */
/*
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}
*/
/* Animate search icon */

.msb i {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}


@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.submit_status-b {
  height: 8px;
  width: 100%;
  margin-top: -8px;
  border-top: solid 1px #acacac;
  background-repeat: repeat-y;
}

.dis-bttn {
  opacity: 0.65;
  cursor: not-allowed;
}

.price-input-w {
  width: 80%;
}

.your-price-w {
  background-color: #fff;
}

.box-product .product-img {
  background-color: #ffffff !important;
}

#instafeed > a > img {
  padding: 5px;
}

.ldr-main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.ldr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 16px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border-top: 16px solid rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


//sales and orders pages
// .userprofile_img_wrapper.page__sales-orders {
//   @media only screen and (max-width: 509px) and (min-width: 320px) {
//     height: 100%;
//   }
// }
//
.btn__profile--salesOrders {
  float: right;
  margin-top: -5em;
  @media only screen and (max-width: 509px) and (min-width: 320px) {
    min-width: initial !important;
    margin-right: -2em;
  }
  &.publisher {
    margin-top: auto;
    @media only screen and (max-width: 509px) and (min-width: 320px) {
      min-width: initial !important;
      margin-right: 0;
      float: none;
      margin-top: 0.5em !important;
    }
  }
}

//
// .profile_top.addProd.left.page__sales-orders {
//   @media only screen and (max-width: 509px) and (min-width: 320px) {
//     width: 100%;
//   }
// }
//
// .userprofile-info.page__sales-orders ul {
//   @media only screen and (max-width: 509px) and (min-width: 320px) {
//     width: 100%;
//     max-width: initial;
//   }
// }
