//page checkout

.ch-pay-wrapper {
  .btn-bottom {
    text-align: left;
    padding-bottom: 3em;

    .btn.white {
      border: 1px solid #e74c3c;
      color: #e74c3c;
      margin-right: 12px;
      margin-bottom: 0;

      &:hover {
        color: #fff;
      }
    }
    @media only screen and (max-width:509px) {
      .btn {
        margin: 0;
        width: 100%;
        min-width: none;

        &.white {
          margin-bottom: 1em;
        }
      }
    }

    .errorMsg.bottom-long {
      text-align: left;
      margin-top: 1em;
      @media only screen and (min-width: 1000px) {
        max-width: 45%;
      }
    }
  }
}
