//page my cart

.b-codes {
  position: relative;
  position: relative;
  float: right;
  width: 300px;
  text-align: left;
  margin-bottom: 1.5em;
  @media only screen and (max-width: 999px) {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  &__buttons {
    .showSingle {
      display: block;
      font-style: italic;
      font-size: 1.15em;
      color: #e75141;
      cursor: pointer;
    }

    p {
      text-align: left;
      margin: 0.4em 0 0.2em;
      font-size: 1.15em;
    }
  }

  .targetDiv {
    display: none;
    position: absolute;
    right: 0;
    top: -1px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 126%;
    background-color: #fff;

    .b-codes__title {
      display: block;
      font-style: italic;
      font-size: 1.15em;
      color: #e75141;
      margin: 0;
      padding-bottom: 1em;
    }
  }

  &__discount {
    #disc-code {
      display: inline-block;
      width: 100px;
      line-height: normal;
      height: 29px;
      @media only screen and (min-width: 1000px) and (max-width: 1599px) {
        height: 25px;
      }
      @media only screen and (max-width: 999px) {
        height: 22px;
      }
    }

    .btn {
      min-width: 31%;
      line-height: 1.9;
      padding: 0;
      font-size: 0.95em;
    }
  }

  &__gift {
    #gift-code {
      display: inline-block;
      width: 100px;
      line-height: normal;
      height: 29px;
      @media only screen and (min-width: 1000px) and (max-width: 1599px) {
        height: 25px;
      }
      @media only screen and (max-width: 999px) {
        height: 21px;
      }
    }

    .btn {
      min-width: 31%;
      line-height: 1.9;
      padding: 0;
      font-size: 0.95em;
    }
  }

  .errorMsg {
    margin-top: 0;
  }
}
//update link next to qty

.mc-fields .q-up {
  display: none;
  vertical-align: middle;
  margin-left: 0.5em;
  position: relative;
  top: 3px;
}

.cart-items-block {
  text-align: left;

  ul {
    border: none;
  }

  .total {
    // background-color: #f4f4f4;
    border-bottom: 1px solid #d0cfcf;
    border-top: 1px solid #d0cfcf;
    margin: 0 0 3em;
    padding: 0.8em 0;

    label {
      margin: 0;
      width: 6em;
    }

    p {
      display: inline-block;
      margin: 0;
      line-height: normal;
    }

    .mc-shiptgle {
      float: none;
      margin: 0;
      padding: 0;
    }

    .col-second {
      margin-top: 0.5em;
    }
  }
}
//pop up for shipping method on my cart page.

.c-modal {
  // background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  &-inner {
    max-width: 90%;
    min-width: 40%;
    width: 40%;
    border: 1px solid #d0cfcf;
    padding: 20px 20px 30px;
    background: #fff;
    -webkit-box-shadow: 0 9px 59px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 9px 59px 11px rgba(0,0,0,0.75);
    box-shadow: 0 9px 59px 11px rgba(0,0,0,0.75);
    text-align: left;
    height: auto;
    // margin: 0 auto;
    position: relative;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (min-width: 1001px) and (max-width: 1300px) {
      width: 57%;
    }
    @media only screen and (min-width: 901px) and (max-width: 1000px) {
      width: 53%;
    }
    @media only screen and (min-width: 801px) and (max-width: 900px) {
      width: 63%;
    }
    @media only screen and (min-width: 701px) and (max-width: 800px) {
      width: 70%;
    }
    @media only screen and (min-width: 601px) and (max-width: 700px) {
      width: 80%;
    }
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
  }

  &.shipping-method {
    label {
      font-weight: normal;
      font-size: 0.9em;
      display: block;
      line-height: 1.8;
    }

    .xIcon {
      float: none;
      margin: 0;
      position: absolute;
      right: 2em;
    }
  }
}
