//page sales and orders

.page__sales-orders {
  padding-bottom: 1rem;
  .page-title {
    text-align: left;
    font-size: 2.2em;
    padding-top: 2.1em;
    margin-bottom: 2em;
  }
  .content-wrapper.white {
    margin: 0 auto 40px;
    padding: 3em;
    text-align: left;
  }
  .form-group {
    &-wrapper {
      margin-bottom: 3em;
      float: left;
      width: 100%;
      .form-group {
        display: inline-block;
        margin-right: 1.3em;
        width: 16.555%;
        position: relative;
        float: left;
        @media only screen and (max-width: 999px) {
          width: 100%;
        }
        input {
          position: relative;
          @media only screen and (max-width: 999px) {
            width: 100%;
          }
        }
        select {
          @media only screen and (max-width: 999px) {
            width: 100%;
          }
        }
        label {
          display: block;
        }
        button {
          bottom: 0.2em;
          position: absolute;
          right: 0;
          @media only screen and (min-width: 1000px) and (max-width: 1599px) {
            bottom: 0.45em;
            font-size: 1em;
          }
          @media only screen and (max-width: 999px) {
            font-size: 2.2em;
            bottom: 0.1em;
          }
        }
      }
    }
  }
  .b-table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-top: solid 1px #acadad;
    border-left: solid 1px #acadad;
    border-bottom: solid 1px #acadad;
    thead {
      font-weight: bold;
    }
    tr {
      border-bottom: solid 1px #acadad;
    }
    td,
    th {
      border-right: solid 1px #acadad;
      padding: 0 1.7em;
      line-height: 3;
    }
    .delivered {
      color: #2db504;
      font-weight: bold;
    }
    .processing {
      color: #f48f22;
      font-weight: bold;
    }
    .received {
      color: #c00005;
      font-weight: bold;
    }
  }
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .b-table,
    .b-table tbody,
    .b-table td,
    .b-table th,
    .b-table thead,
    .b-table tr {
      display: block;
    }
    .b-table,
    .b-table td,
    .b-table th,
    .b-table tr {
      border: none;
      clear: both;
    }
    .b-table tbody {
      border: solid 1px #acadad;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .b-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .b-table tr {
      // border-top: solid 1px #acadad;
      // border-left: solid 1px #acadad;
      // border-right: solid 1px #acadad;
      line-height: 2;
      vertical-align: middle;
    }
    .b-table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #acadad;
      position: relative;
      padding-left: 50%;
      vertical-align: middle;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    /*
    Label the data
    */
    .b-table td:nth-of-type(1):before {
      content: "Order ID ";
    }
    .b-table td:nth-of-type(2):before {
      content: "Date/Time";
    }
    .b-table td:nth-of-type(3):before {
      content: "Sale Amounte";
    }
    .b-table td:nth-of-type(4):before {
      content: "Income";
    }
    .b-table td:nth-of-type(5):before {
      content: "Status";
    }
  }
  .form-group-calendar {
    display: inline-block;
    position: relative;
    margin-right: 1.2rem;
    width: 43%;
    float: left;
    @media only screen and (max-width: 999px) {
      width: 100%;
      float: none;
      margin-right: 0;
    }
    .form-group {
      width: 42%;
      @media only screen and (max-width: 999px) {
        margin-right: 1.2rem;
        width: 44%;
      }
      @media only screen and (max-width: 509px) {
        width: 38%;
      }
    }
  }
  .form-group-calendar .btn-go {
    background-color: #313b46;
    border: solid 1px #313b46;
    border-radius: 100%;
    padding: 0.5em;
    color: #fff;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin-left: -0.5em;
  }
  .form-group-calendar .btn-go span {
    display: block;
  }
  .form-group-calendar .btn-go:hover {
    background-color: #000;
    border: solid 1px #000;
  }
}
