/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 350px) {
    .main-container {
        // width: 300px;
        // margin-left: auto;
        // margin-right: auto;

    }
    #forgotPass_row .form-input {
        width: 95%;
        margin-bottom: 40px;
        font-size: 0.9em;
        height: 30px;
    }
    #forgotPass_row .btn.wide {
        width: 95%;
        height: 30px;
    }
    #forgotPass_row p {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .product-show>.column-4.box-product {
      width: 215px;
      margin: 0 20px 0 20px;
    }
    .popup-inner.ie-popup.notify-popup {
      width: 300px;
    }
    .notifications-popup-header {
      width: 298px;
    }
    .events-wrapper .column-4.box-product3 {
      width: 287px;
    }
    .box-product3 .product-img2 {
      height: 287px;
    }
    .product-cat-wrapper .box-product3 {
      width: 290px;
    }
    .product-cat-wrapper .box-product3 .product-img2.my-prod-img {
      height: 290px;
    }
    .img-fullsize-wrapper {
      width: 300px;
    }
    .watching-ogart {
      left: 10px;
    }
    #disc-code {
      width: 164px;
    }

}
