//popup component


.popup-inner {
    width: 100%;
    margin: auto;
    margin-top: 4%;
    padding: 20px 20px 35px;
    background-color: rgb(245, 245, 241);
    z-index: 2000;
    border-radius: 6px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;

  &.registration-popup {
      width: 650px;
      margin-bottom: 30px;
      // transition: width .2s ease-out;
    	// -webkit-transition: width .2s ease-out;
    }
    &.cart-login {
      width: 650px;
    }
}
