.b-receipt {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
  .b-sales-cart {
    border-bottom: solid 1px #d0cfcf;
    float: left;
    width: 100%;
    @media only screen and (max-width: 509px) {
      float: none;
    }
    &:after, &:before {
      content: "";
      display: table;
      clear: both;
    }
    .col-left {
      float: left;
      width: 65%;
      margin-right: 3.6rem;
      @media only screen and (max-width: 999px) {
        width: 100%;
        margin-right: 0;
        float: none;
      }
      &-bottom,
      &-top {
        float: left;
        width: 100%;
        @media only screen and (max-width: 509px) {
          float: none;
        }
      }
      &-top {
        padding-bottom: 0.2rem;
        padding-top: 1.5rem;
        .col__item {
          float: left;
          width: 70%;
          @media only screen and (min-width: 510px) and (max-width: 999px) {
            width: 60%;
          }
          @media only screen and (max-width: 509px) {
            width: 100%;
            float: none;
          }
          &-title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 1.2rem;
            border: none;
            padding-bottom: 0;
            color: #acadad;
          }
          &-image {
            border: solid 1px #acacac;
            display: inline-block;
            height: 0;
            padding-bottom: 33.333%;
            width: 33.333%;
            margin: 0 auto 2em auto;
            text-align: center;
            vertical-align: middle;
            position: relative;
            @media only screen and (max-width: 509px) {
              width: 40%;
            }
            span {
              display: block;
              height: 183px;
              margin: 0 auto;
              position: relative;
              text-align: center;
              vertical-align: middle;
              padding: 1rem;
              @media only screen and (min-width: 1000px) and (max-width: 1600px) {
                height: 127px;
              }
              @media only screen and (min-width: 510px) and (max-width: 999px) {
                height: 92px;
                padding: 0.5em;
              }
              @media only screen and (max-width: 509px) {
                height: 82px;
                padding: 0.5em;
              }
              div {
                width: 100%;
                height: 100%;
              }
            }
          }
          &-info {
            display: inline-block;
            vertical-align: top;
            margin-left: 0.8rem;
            margin-top: 0;
            margin-bottom: 0;
            line-height: normal;
            > p {
              margin-top: 0;
              margin-bottom: 0;
            }
            .title {
              text-transform: uppercase;
              font-weight: bold;
              border: none;
              padding-bottom: 0;
              font-size: 16px;
              color: #2d2d2d;
              @media only screen and (max-width: 999px) {
                font-size: 15px;
              }
            }
            .author {
              font-style: italic;
              border: none;
              padding-bottom: 0;
              font-size: 14px;
              color: #2d2d2d;
              @media only screen and (max-width: 999px) {
                font-size: 13px;
              }
            }
            .product {
              font-weight: bold;
              border: none;
              padding-bottom: 0;
              font-size: 16px;
              color: #2d2d2d;
              @media only screen and (max-width: 999px) {
                font-size: 15px;
              }
            }
          }
          &.price,
          &.qty,
          &.total {
            width: 10%;
            font-size: 14px;
            font-weight: bold;
            @media only screen and (max-width: 999px) {
              font-size: 13px;
            }
            @media only screen and (max-width: 509px) {
              width: 32%;
              display: inline-block;
            }
          }
          &.price {
            text-align: left;
          }
          &.qty {
            text-align: center;
          }
          &.total {
            text-align: right;
          }
          .type {
            text-transform: uppercase;
            margin-bottom: 2rem;
            border-bottom: none;
            padding-bottom: 0;
          }
          .value {
            color: #2d2d2d;
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
    .col-right {
      float: right;
      width: 25%;
      position: relative;
      top: 2em;
      @media only screen and (max-width: 999px) {
        float: none;
        clear: both;
        position: initial;
        top: auto;
        margin-bottom: 2em;
        margin-top: 2em;
        width: 100%;
      }
    }
    .tracking-form {
      border: solid 2px #e74c3c;
      padding: 1rem;
      .form-group {
        margin-bottom: 0.2rem;
      }
      .form-group label {
        font-size: 14px;
        color: #2d2d2d;
        font-weight: normal;
      }
      .form-group .form-control {
        border-radius: 5px;
        border: solid 1px #acadad;
        line-height: 1.8;
        width: 100%;
        padding: 0 0.5em;
        font-size: 14px;
      }
      .btn-wrapper {
        text-align: center;
        margin-top: 1rem;
      }
      .notification {
        text-align: center;
        font-size: 14px;
        display: none;
      }
    }
  }
  .b-list {
    float: left;
    width: 100%;
    @media only screen and (max-width: 509px) {
      float: none;
    }
    &__title {
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 0.5em;
      font-style: italic;
      a {
        color: #e74c3c !important;
      }
    }
    .blockInfo {
      border-top: 1px solid #d0cfcf;
      &.no-top {
        padding-top: 2em;
      }
      &--top {
        padding: 1em 0;
        float: left;
        width: 100%;
        font-size: 14px;
        @media only screen and (max-width: 509px) {
          float: none;
          font-size: 13px;
        }
        .btn-edit {
          border: 1px solid #d0cfcf;
          border-radius: 5px;
          padding: 5px 5px 0px 2px;
          display: inline-block;
          margin-left: 5px;
          img {
            width: 84%;
          }
          @media only screen and (max-width: 509px) {
            display: none;
          }
        }
        &-left {
          width: 50%;
          float: left;
          @media only screen and (max-width: 509px) {
            float: none;
            width: 100%;
          }
        }
        &-right {
          width: 50%;
          float: left;
          text-align: right;
          @media only screen and (max-width: 509px) {
            float: none;
            width: 100%;
            text-align: left;
          }
        }
      }
      &--full {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-size: 14px;
        padding-bottom: 2em;
        @media only screen and (max-width: 999px) {
          margin-bottom: 1.5em;
          line-height: 1.5;
        }
        h2 {
          font-size: 20px;
        }
        .title {
          font-weight: bold;
        }
        .status {
          font-weight: bold;
          &.delivered {
            color: #2db504;
          }
          &.processing {
            color: #f48f22;
          }
          &.received {
            color: #c00005;
          }
        }
      }
    }
    .list {
      display: inline-block;
      > li {
        display: block;
        line-height: 2;
        span {
          display: inline-block;
        }
        .object {
          width: 129px;
          font-size: 12px;
        }
        .value {
          font-size: 12px;
        }
      }
    }
  }
  .b-sales-cart-total {
    margin-top: 2em;
    clear: both;
    float: left;
    width: 100%;
    font-size: 14px;
    .col-left,
    .col-right {
      display: inline-block;
      width: 48%;
      vertical-align: middle;
      @media only screen and (max-width: 999px) {
        width: 100%;
        line-height: 1.5;
      }
      .title {
        font-weight: bold;
      }
      .status {
        font-weight: bold;
      }
      .last {
        color: #e74c3c;
        font-size: 15px;
      }
    }
    .col-right {
      text-transform: uppercase;
      font-weight: bold;
      @media only screen and (max-width: 999px) {
        margin-top: 1.5em;
      }
    }
  }
}
